@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('body.png');
  color: #05E4F0;
  margin:0;
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: #05E4F0;
}

.hero {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:370px;
  box-shadow: 0px 3px 8px #2a2a2a;

}

h1, h2, h3, h4, h5, h6 .navbar {
  margin: 0;
}

.frosty {
  background:rgba(0,0,0, 0.5);
  color: #05E4F0;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

body {
  background: url('body.png');
  font-family: "Helvetica Neue", Helvetica;
  color: #05E4F0;
  font-weight: 100;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #05E4F0;
  -webkit-box-shadow: 1px 1px 2px 0 #05E4F0;
  box-shadow: 1px 1px 2px 0 #05E4F0;
  background: url('body.png');
  border: 1px solid #ccc;
  border-color: #05E4F0;
  padding:10px;
  border-radius: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin:10px;
}
